:root {
    --projects-width: 1250px;
    --space-between-projects: 135px;
}
#Projects-Page h4 {
    font-family: TextFont;
    font-size: 36px;

    margin-bottom: 20px;
}




.qualifications-section {
    position: relative;
    background: var(--bg-base);
    background: var(--bg-gradient);
}
.two-projects {
    width: var(--projects-width);
    margin: auto;
    
    display: flex;
    gap: 60px;
    padding-bottom: 150px;
}

.qualification {
    flex: 1;
    color: white;
}
.qualification img {
    width: 100%;
    border-radius: 20px;
}
.qualification-text {
    margin-bottom: 24px;
}
.qualification h4 {
    margin-top: 0px;
}
@media (max-width: 1300px) {
    .two-projects {
        flex-direction: column;
        width: 70%;
        max-width: 850px;
        gap: 30px;
    }
    .qualification {
        margin-bottom: var(--space-between-projects);
    }
    .qualification img {
        display: block;
        width: 97%; /* For more pixel-perfect alignment with the right side of text, which might not always fill */
    }
}



.other-projects h4 {
    margin-top: 75px;
}
.project {
    width: var(--projects-width);
    margin: auto;
    
    display: flex;
    gap: 40px;

    margin-bottom: var(--space-between-projects);
}
.project:nth-child(even) {
    flex-direction: row-reverse;
}
.project .left {
    flex: 6;
}
.project .right {
    flex: 4;
}

.project .right .right-content-centerer-outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.project .right .right-content-centerer-inner {
    display: table-cell;
    vertical-align: middle;
}
.project .right .right-content {
    width: 100%;
}
.project .image-container img {
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 1px #000000; 
    box-shadow: 0px 0px 10px 1px #000000;
}
.project-description-text {
    font-family: TextFont;
    font-size: 24px;

    /* Ellipsis on the 4th line */
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; */
}
@media (max-width: 1300px) {
    .project:nth-child(even) {
        flex-direction: column;
    }
    .project {
        flex-direction: column;
        width: 70%;
        max-width: 850px;
        gap: 30px;
    }
    .project .left, .project .right {
        flex: auto;
    }
    .project .image-container img {
        display: block;
        width: 97%; /* For more pixel-perfect alignment with the right side of text, which might not always fill */
    }
}
@media (max-width: 710px) {
    :root {
        --space-between-projects: 75px;
    }
    .two-projects {
        width: 83%;
    }
    .project {
        width: 83%;
    }
    #Projects-Page h4 {
        font-size: 26px;
    }
    .project-description-text {
        font-size: 18px;
    }
}

.tags {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 8px;
    
    margin-bottom: 20px;
}
.tags > span {
    background-color: var(--teal-color);
    font-family: TextFont;
    color: white;

    
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 25px;
}




.back-arrow-container {
    position: fixed;
    z-index: 999991;
    top: 0px;
    left: 0px;

    cursor: pointer;
}
.back-arrow-background {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 999992;
    mix-blend-mode: difference;
}
.back-arrow {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 999993;

    top: 10px;
    left: 30px;
    font-size: 45px;
    color: var(--teal-color);

    /* transform: scale(-1, 1); */
    transform: rotate(-90deg) scale(1.5, 1);

    transition: color 0.1s ease-out;
}
.back-arrow:hover {
    filter: brightness(125%);
}