:root {
    --dark-color: rgb(37, 41, 52);
    --dark-font: rgb(65, 70, 70);       /* #252934 */
    --teal-color: rgb(61, 209, 235);
    --teal-color-brighter: rgb(50, 221, 252);

    --h1-font-size: 40px;
    --h2-font-size: calc(var(--h1-font-size) * 0.75);

    --middle-width: 1000px;

    --z-canvas: 1;
    --z-hero: 2;
    
    --z-canvas-about: 0.5;
    --z-diagonal: 3;

    --z-me-border: 1;
    --z-me-img: 2;

    --media-max-width: 1025px;

    --bg-base: rgb(13,27,46);
    --bg-gradient: radial-gradient(circle, rgba(13,27,46,1) 0%, rgba(1,9,21,1) 100%, rgba(37,41,52,1) 100%, rgba(0,0,0,1) 100%);
}

@font-face {
    font-family: TextFont;
    /* src: url(Rubik-Regular.ttf); */
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: HFont;
    src: url(Rubik-Medium.ttf);
    /* src: url(OpenSans-SemiBold.ttf); */
}

* {
    vertical-align: top;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.generic-button {
    background-color: rgba(0, 0, 0, 0);

    border: solid var(--dark-font) 2px;
    color: var(--dark-font);

    font-family: TextFont;
    font-size: 21.6px;
    padding: 15px;

    cursor: pointer;
}
h2 {
    font-family: HFont;
    text-align: center;
    margin: auto;

    font-size: var(--h1-font-size);
    letter-spacing: 0.015;
}
.h2-underscore {
    margin: auto;
    margin-top: 20px;

    height: 4px;
}
.page {
    width: 100%;
}
.h2-container {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}
@media (max-height: 700px) or (max-width: 700px) {  /* Also if screen too small */
    .h2-container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

/* ------------- Scrolling ---------- */
@media (orientation: landscape) {
    body, html, #Index-Page {
        scroll-snap-type: y proximity;
    }
    #Index-Page > div, .contact, .footer {
        scroll-snap-align: start;
    }
}


/* ------------- Hero ------------ */
:root {
    --diagonal-cut-height: 35px;
}
.hero {
    width: 100%;
    height: calc(100vh + var(--diagonal-cut-height));
    overflow: hidden;
    position: relative;
    background-color: var(--dark-color);
}
.hero canvas {
    position: absolute;
    z-index: var(--z-canvas);
}
.hero .content {
    pointer-events: none;   /* To allow clicking through to canvas */

    height: 100%;
    width: 100%;
    z-index: var(--z-hero);
    position: relative;
}
.hero .content * {
    pointer-events: auto;
}
.hero .content h1 {
    font-family: TextFont;
    text-align: center;

    color: white;

    font-size: var(--h1-font-size);
    line-height: calc(var(--h1-font-size) * 1.5);
    letter-spacing: 1px;    
}
.hero .buttons {
    margin-top: 20px;

    display: flex;
    width: 100%;

    justify-content: center;
    gap: 30px;
}
.hero .buttons .generic-button {
    border-color: white;
    color: white;
}
.diagonal-cut {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: var(--z-diagonal);
}
@media (max-width: 1085px) {
    .hero .content h1 {
        font-size: calc(0.6 * var(--h1-font-size));
        line-height: calc(var(--h1-font-size) * 1.5 * 0.6);
        letter-spacing: 0.6px;    
    }
}
@media (max-width: 725px) {
    .generic-button {
        font-size: 18px;
    }
    .error-message {
        font-size: 18px;
    }
}



/* ------------- Projects ------------ */
:root {
    --project-width: 25vw;
    --project-height: calc(25vw * 0.6);
    --project-gap: 25px;

    --project-box-width: calc(var(--project-width) * 3.5);
    --project-font-size: 1.5vw;
}
.projects {
    width: 100%;
    margin-bottom: 75px;
}
.projects h2 {
    color: var(--dark-font)
}
.other-projects-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
}
.other-projects {
    display: block !important;
    margin: auto;
    width: auto;

    font-family: HFont;
    font-size: 1.5em;
    color: var(--dark-font);

    margin-bottom: var(--project-gap);
}
.projects-box {
    max-width: var(--project-box-width);

    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--project-gap);
}
.thumbnail-wrapper {
    position: relative;
    width: var(--project-width);
    height: var(--project-height);
}
.thumbnail-wrapper img {
    width: var(--project-width);
    height: var(--project-height);
    object-fit: cover;
    overflow-y: clip;
    overflow-y: clip;

    border-radius: 15px;
    border: solid 1px #DDD;
}
.thumbnail-overlay {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0px;

    width: var(--project-width);
    height: var(--project-height);

    
    transition: opacity 0.3s ease-in-out;
    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: var(--project-font-size);

    user-select: none;
}
.thumbnail-overlay.no-button {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (orientation: landscape) {
    .thumbnail-wrapper:hover .thumbnail-overlay {
        visibility: visible;
        opacity: 1;
    }
}
@media (orientation: portrait) {
    .thumbnail-wrapper:hover {
        cursor: pointer;
    }
}
.thumbnail-overlay p {
    margin: 0px;
    max-width: calc(var(--project-width) * 0.8);

    font-family: TextFont;
    font-size: var(--project-font-size);
    text-align: center;
    color: white;
}
.thumbnail-wrapper .generic-button {
    font-size: var(--project-font-size);
    padding: var(--project-font-size);

    border-color: white;
    color: white;
}
@media (orientation: portrait) {    /* Allow only 2 per row */
    :root {
        --project-width: 35vw;
        --project-height: calc(35vw * 0.6);

        --project-box-width: calc(var(--project-width) * 2.5);
        --project-font-size: 2vw;
    }
}
@media (max-width: 400px) {
    :root {
        --project-width: 65vw;
        --project-height: calc(65vw * 0.6);

        --project-box-width: calc(var(--project-width) * 1.5);
        --project-font-size: 3vw;
    }
}








/* ------------- About ------------ */
:root {
    --about-right-percent: 32%;
    --about-right-width: calc(var(--middle-width) * 0.32);
    --about-minimum-height: 1025px;

    --me-border-offset: 18px;
}
.about {
    width: 100%;
    min-height: max(
        calc(100vh + 70px),
        var(--about-minimum-height)
    );

    position: relative;

    /* background-color: var(--dark-color); */
    background: var(--bg-base);
    background: var(--bg-gradient);

    overflow: hidden;
}
.about canvas {
    position: absolute;
    z-index: var(--z-canvas-about);
}
.diagonal-cut-reverse {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: var(--z-diagonal);
}
.about h2 {
    color: white;
}
.about .content {
    width: var(--middle-width);
    margin: auto;

    display: flex;
    gap: 6%;

    z-index: var(--z-about);
    position: relative;
}
.about .content .left {
    width: 62%;

    font-family: TextFont;
    font-size: 22px;
    color: white;
}
.about .content .right {
    width: 32%;
    position: relative;
}
@media (max-width: 1060px) {
    :root {
        --media-me-width: 70vw;
    }
    .about canvas {
        display: none;
    }
    .about .content {
        width: 82%;
        margin: auto;

        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .about .content .left {
        width: 100%;
    }
    .about .content .right {
        width: 100%;
    }
    .about .me {
        width: var(--media-me-width) !important;
        margin: auto;
    }
    .about .me-border {
        width: var(--media-me-width) !important;
        left: calc((100% - var(--media-me-width)) / 2 + var(--me-border-offset)) !important;
    }
}
@media (max-width: 810px) {
    .about .content .left {
        font-size: 18px;
    }
}
.about .me-border {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: var(--z-me-border);
    
    top: var(--me-border-offset);
    left: var(--me-border-offset);
    
    border: solid var(--teal-color) 4px;
}
.about .me {
    display: block;
    position: relative;
    width: 100%;
    z-index: var(--z-me-img);
}
.about .languages {
    width: var(--about-right-width);
    margin: auto;
    margin-top: 45px;

    z-index: var(--z-me-img);
    

    display: flex;
    justify-content: center;
    gap: 25px;
}
.about .languages > img {
    width: 55px;
    height: 35px;
    display: block;
}
.technologies {
    width: var(--middle-width);
    margin: auto;
    
    position: relative;
    z-index: var(--z-about);

    display: flex;
    justify-content: space-between;

    padding-top: 75px;
    margin-bottom: 60px;        /* A bit of extra space down */
}
.technology h3 {
    font-family: TextFont;
    color: white;
    text-align: center;
}
.technology {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding 0.3s ease-in-out;
    -moz-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}
.technology-icon {
    display: block;
    margin: auto;

    height: 75px;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    cursor: pointer;
}
.technology:hover {
    padding-top: 0px;
    padding-bottom: 0px;
}
.technology:hover .technology-icon {
    height: 125px;
}
.technology h3 {
    font-size: 18px;
    display: block;
}
@media (max-width: 1060px) {
    .technologies {
        width: 90%;
        flex-wrap: wrap;
    }
    .technology {
        flex-basis: 25%;            /* Only allow 4 per row */
    }
}
@media (max-width: 710px) {
    .technology h3 {
        font-size: 14px;
    }
    .technology-icon {
        height: 75px
    }
    .technology:hover .technology-icon {    /* No upsizing if screen too small */
        height: 75px
    }
    .technology:hover {                     /* Smaller animations if screen too small */
        padding-top: 15px;
        padding-bottom: 15px;
    }
}





/* ---------- Contact ---------- */
.contact {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: white;
}
.contact h2 {
    color: var(--dark-font);
}
.contact .form {
    width: 650px;
    margin: auto;
}
.contact .form label {
    display: block;
    margin-bottom: 6px;

    font-family: TextFont;
    color: var(--dark-font);
    font-size: 20px;
}
.form-element {
    display: block;
    width: 100%;
    height: 60px;

    margin-bottom: 15px;

    padding: 15px;

    font-family: TextFont;
    color: var(--dark-font);
    font-size: 20px;
    line-height: 20px;

    border: solid var(--dark-font) 2px;

    transition: padding 0.2s ease-out;
}
.contact .form textarea {
    height: 300px;
}
.form-element:focus {
    outline: solid var(--teal-color) 1px;
    border: solid var(--teal-color) 2px;
    padding: 15px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;
}
@media (max-width: 710px) {
    .contact .form {
        width: 80%;
    }
}
@media (max-height: 700px) {
    .form-element {
        height: 45px;
        padding: 11px;
        font-size: 18px;
    }
    .contact .form textarea {
        height: 175px;
    }
}





/* ---------- Footer ---------- */
:root {
    --footer-icon-size: 50px;
    --footer-padding-top: 60px;
    --footer-padding-bottom: 60px;
}
.footer {
    width: 100%;
    height: calc(
        var(--footer-padding-top) +
        var(--footer-icon-size) +
        var(--footer-padding-bottom)
    );

    position: relative;

    padding-bottom: var(--footer-padding-bottom);

    background: var(--bg-base);
    background: var(--bg-gradient);
}
.footer-icons {
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-icon {
    display: block;
    
    width: var(--footer-icon-size);
    height: var(--footer-icon-size);

    opacity: 0.3;
    filter: grayscale(0.5);

    cursor: pointer;
}
.footer-icon:hover {
    opacity: 1;
    filter: none;
}
.footer h4 {
    font-family: TextFont;
    color: gray;
    text-align: center;
}





.button-and-error-message {
    display: flex;
    gap: 15px;
}
.error-message {
    flex: 1;

    padding: 15px;
    
    border: solid #f5c6cb 2px;
    border-radius: 2px;
    background-color: #f8d7da;
    color: #721c24;

    font-family: TextFont;
    font-size: 21.6px;
}





.email-container {
    display: flex;

    padding: 0px;
    line-height: 25px;

    border: solid rgb(150, 150, 150) 2px !important;
}
.email-left {
    background-color: #EEE;
    padding: 15px;
    border-right: solid rgb(150, 150, 150) 2px;
}
.email-container .form-element {
    display: block;
    height: 100%;
    border: none;

    flex: 1;
}